{
  "extends": ["plugin:vue/essential", "eslint:recommended"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "plugins": ["babel"],
  "rules": {
    "semi": "error",
    "no-multi-spaces": "error",
    "block-spacing": ["error", "always"],
    "quotes": ["error", "single"],
    "max-len": ["error", { "code":  120 }],
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "always"],
    "space-before-function-paren": ["error", "always"],
    "space-before-blocks": ["error", "always"],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "camelcase": ["error", { "properties": "never" }],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "no-mixed-spaces-and-tabs": "error",
    "no-multi-str": "error",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }],
    "space-infix-ops": "error",
    "indent": ["error", 2],
    "no-trailing-spaces": "error",
  },
  "overrides": [
    {
      "files": ["*.vue"],
      "rules": {
        "indent": "off",
        "vue/script-indent": ["error", 2, { "baseIndent": 1 }]
      }
    }
  ]
}
