{
  "extends": ["plugin:vue/essential", "eslint:recommended"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "plugins": ["babel"],
  "rules": {
    "semi": "warn",
    "no-multi-spaces": "warn",
    "block-spacing": ["warn", "always"],
    "quotes": ["warn", "single"],
    "max-len": ["warn", { "code":  130 }],
    "object-curly-spacing": ["warn", "always"],
    "array-bracket-spacing": ["warn", "always"],
    "space-before-blocks": ["warn", "always"],
    "keyword-spacing": ["warn", { "before": true, "after": true }],
    "camelcase": ["warn", { "properties": "never" }],
    "comma-spacing": ["warn", { "before": false, "after": true }],
    "no-mixed-spaces-and-tabs": "warn",
    "no-multi-str": "warn",
    "no-multiple-empty-lines": ["warn", { "max": 1, "maxEOF": 0 }],
    "space-infix-ops": "warn",
    "indent": ["warn", 2],
    "no-trailing-spaces": "warn",
    "vue/html-indent": ["warn", 2, {
      "attribute": 1,
      "baseIndent": 1,
      "closeBracket": 0,
      "alignAttributesVertically": true,
      "ignores": []
    }],
    "no-unused-vars": "warn"
  },
  "overrides": [
    {
      "files": ["*.vue"],
      "rules": {
        "indent": "off",
        "vue/script-indent": ["warn", 2, { "baseIndent": 1 }]
      }
    }
  ]
}
